<div class="main-page">
    <div 
        class="sidebar-backdrop" 
        *ngIf="!sidebar.collapsed" 
        (click)="sidebar.collapsed = true"
    >
    </div>
    <app-sidebar #sidebar></app-sidebar>
    <div class="main-container" [class.blurred]="!sidebar.collapsed">
        <div class="title-menu">
            <div class="title-area">
                <h2 class="margin-title">Consulta analîtica de almacenes</h2>  
            </div>
            <div class="search-holder">
                <div class="search-container">
                    <div class="search-form">
                        <span>Ejercicio</span>
                        <input 
                            type="text" 
                            class="search-bar smallWidth" 
                            name="ejercicio"
                            [(ngModel)]="eje"
                            disabled
                        >
                        <span>Mes</span>
                        <input 
                            type="number" 
                            name="factura" 
                            class="search-bar smallWidth"
                            [min]="1"
                            [max]="12"
                            [(ngModel)]="currentMonth"
                        />                      
                    </div>
                    <!-- <div class="btns">
                        <button type="button" class="purple-btn" (click)="search()">Buscar</button>
                        <button type="button" class="purple-btn" (click)="limpiarSearch()">Limpiar</button>
                    </div> -->
                </div>
            </div>
            <div class="group-menu" (click)="toggleMenu($event)">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="menu-panel" *ngIf="showMenu">
                    <button class="purple-btn" (click)="DownloadPDF()">Exportar a PDF</button>
                    <button class="purple-btn" (click)="downloadExcel()">Exportar a EXCEL</button>
                </div>
            </div>
        </div>
        <h1 class="errorBtn">{{almacenError}}</h1>
        <h1 class="successBtn">{{almacenSuccess}}</h1>
        <div class="main-list">
            <div *ngIf="isLoading" class="loading-message">
                <div class="spinner"></div>
                <span>Cargando</span>
            </div>
            <table class="main-table">
                <thead>
                    <tr>
                        <th class="sortable resizable" (click)="toggleSort('eje')">
                            Ejer/Periodo
                            <span class="sort-indicator" *ngIf="sortColumn === 'eje'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
                            <div class="resizer" (mousedown)="startResize($event, 0)"></div>
                        </th>
                        <th class="sortable resizable" (click)="toggleSort('depcod')">
                            Cód. Almacén
                            <span class="sort-indicator" *ngIf="sortColumn === 'depcod'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
                            <div class="resizer" (mousedown)="startResize($event, 1)"></div>
                        </th>
                        <th class="sortable resizable" (click)="toggleSort('depdes')">
                            Descripción
                            <span class="sort-indicator" *ngIf="sortColumn === 'depdes'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
                            <div class="resizer" (mousedown)="startResize($event, 2)"></div>
                        </th>
                        <th class="sortable resizable" (click)="toggleSort('cgecod')">
                            Centro Gestor
                            <span class="sort-indicator" *ngIf="sortColumn === 'cgecod'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
                            <div class="resizer" (mousedown)="startResize($event, 3)"></div>
                        </th>
                        <th class="sortable resizable" (click)="toggleSort('')">
                            Cód. Instalación
                            <span class="sort-indicator" *ngIf="sortColumn === ''">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
                            <div class="resizer" (mousedown)="startResize($event, 4)"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of paginatedAlmacenes">
                        <td>{{currentMonth +"/" + p.eje}}</td>
                        <td>{{p.depcod}}</td>
                        <td>{{p.depdes}}</td>
                        <td>{{p.cgecod}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination-controls">
                <button (click)="prevPage()" [disabled]="page === 0">Anterior</button>
                <span>Página</span>
                <input
                type="number"
                min="1"
                [max]="totalPages"
                [value]="page + 1"
                (change)="goToPage($event)"
                class="pagination-input"
                />
                <span>de {{ totalPages }}</span>
                <button (click)="nextPage()" [disabled]="page + 1 >= totalPages">Siguiente</button>
            </div>
        </div>
    </div>
</div>