/* search container and inputs */
.title-area {width: 22%; justify-content: flex-end;}
.search-container {width: 100%;}
.search-form {width: 86%; gap: 10px;}
.search-container .btns {width: 11%;}
.group-menu {width: 2%;}
.search-options label {display: flex; font-size: 15px; gap: 16px; color: #444; padding: 8px 14px; }
.search-options input:focus {outline: none;}
.search-options input[type="radio"] {margin: 0 6px 0 0; accent-color: #25176b; width: 18px; height: 18px; vertical-align: middle; outline: none; box-shadow: none;}
/* search container and inputs */
/* table styles */
tr.bloqueado {background-color: #aaa;}
/* table styles */
/* detail style */
.smallTextArea {width: 80px; max-width: 85px;}
.tallText {width: 250px;}
.detail-container {display: flex; gap: 10px; flex-wrap: wrap;}
.chunk-one,
.chunk-two,
.chunk-three,
.chunk-four,
.chunk-five {width: 40%; display: flex; gap: 10px;}
.chunk-three {width: 10%; align-items: center;}
.chunk-four {width: 100%; justify-content: center; gap: 20px;}
.adjustedWidth {width: 18%;}
.adjustedWidth .left,
.adjustedWidthSecond .left {width: 65%;}
.adjustedWidthSecond {width: 22%;}
.left {width: 20%; display: flex; flex-direction: column; gap: 20px;}
.right {width: 80%; display: flex; flex-direction: column; gap: 18px;}
.on-two {display: flex; gap: 10px;}
.checkbox {margin: 0; accent-color: #25176b; width: 14px; height: 18px; vertical-align: middle; outline: none; box-shadow: none;}
.wrapper {width: 100%;  display: flex; justify-content: center; gap: 20px;}
.margin {margin-top: 10px;}
/* detail style */