/* search container and inputs */
.title-area {width: 22%; justify-content: flex-end;}
.search-container {width: 100%;}
.search-form {width: 86%; gap: 10px;}
.search-container .btns {width: 11%;}
.group-menu {width: 2%;}
.search-options label {display: flex; font-size: 15px; gap: 16px; color: #444; padding: 8px 14px; }
.search-options input:focus {outline: none;}
.search-options input[type="radio"] {margin: 0 6px 0 0; accent-color: #25176b; width: 18px; height: 18px; vertical-align: middle; outline: none; box-shadow: none;}
/* search container and inputs */
/* table styles */
tr.bloqueado {background-color: #aaa;}
/* table styles */
/* detail style */
.smallTextArea {width: 80px; max-width: 85px;}
.tallText {width: 250px;}
.detail-container {display: flex; gap: 10px; flex-wrap: wrap;}
.chunk-one,
.chunk-two,
.chunk-three,
.chunk-four,
.chunk-five,
.chunk-six,
.chunk-seven {width: 40%; display: flex; gap: 10px;}
.chunk-three {width: 10%; align-items: center;}
.adjustdSpecial .left {width: 80%;}
.adjustdSpecial {width: 20%;}
.adjustedWidth {width: 20%;}
.adjustedWidth .left,
.adjustedWidthSecond .left {width: 65%;}
.adjustedWidthSecond {width: 22%;}
.left {width: 20%; display: flex; flex-direction: column; gap: 20px;}
.right {width: 80%; display: flex; flex-direction: column; gap: 18px;}
.on-two {display: flex; gap: 10px;}
.checkbox {margin: 0; accent-color: #25176b; width: 14px; height: 18px; vertical-align: middle; outline: none; box-shadow: none;}
.wrapper {width: 100%;  display: flex; justify-content: center; gap: 20px;}
.margin {margin-top: 10px;}
.lastOne {width: 37%;}
.lastOne .left {width: 40%;}
.selectSpecial {height: 30px; width: 260px;}
/* detail style */
/* delete grid */
.margin-btn {margin-right: 10px;}
/* delete grid */
/* add grid */
.addArt {width: 90%; top: 15%;}
.addArt .btns .title {width: 90%;}
.add-content {display: flex; gap: 10px; justify-content: center;}
.left-row,
.center-row,
.right-row {width: 35%; display: flex; align-items: center;}
.left-left-row,
.left-center-row,
.left-right-row {height: 100%; display: flex; flex-direction: column; gap: 12px; width: 45% !important; text-align: left;}
.right-left-row,
.right-center-row,
.right-right-row {height: 100%; display: flex; flex-direction: column; gap: 10px; width: 55% !important;}
.selectAdd {height: 30px; width: 190px; font-size: 15px;}
.textAdd {width: 180px; max-width: 200px;}
.specialGap {gap: 14px;}
.specialGapSecond {gap: 13px;}
.addArt input[type="checkbox"],
.detail-container input[type="checkbox"] { margin: 0; accent-color: #25176b; width: 16px; height: 25px; vertical-align: middle; outline: none; box-shadow: none;}
/* add grid */